
@font-face {
    font-family:"NYTCheltenham ExtraLightItal";
    src:url("cheltenham-italic-200.woff2") format("woff2"),url("cheltenham-italic-200.woff") format("woff"),url("cheltenham-italic-200.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        