
@font-face {
    font-family:"NYTImperial Semibold";
    src:url("imperial-normal-600.woff2") format("woff2"),url("imperial-normal-600.woff") format("woff"),url("imperial-normal-600.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        