
@font-face {
    font-family:"NYTFranklin MediumItalic";
    src:url("franklin-italic-500.woff2") format("woff2"),url("franklin-italic-500.woff") format("woff"),url("franklin-italic-500.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        