
@font-face {
    font-family:"NYTImperial Regular";
    src:url("imperial-normal-500.woff2") format("woff2"),url("imperial-normal-500.woff") format("woff"),url("imperial-normal-500.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        