
@font-face {
    font-family:"NYTCheltenham BoldItalic";
    src:url("cheltenham-italic-700.woff2") format("woff2"),url("cheltenham-italic-700.woff") format("woff"),url("cheltenham-italic-700.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        