
@font-face {
    font-family:"NYTFranklin BoldItalic";
    src:url("franklin-italic-700.woff2") format("woff2"),url("franklin-italic-700.woff") format("woff"),url("franklin-italic-700.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        