
@font-face {
    font-family:"NYTCheltenham MediumItalic";
    src:url("cheltenham-italic-500.woff2") format("woff2"),url("cheltenham-italic-500.woff") format("woff"),url("cheltenham-italic-500.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        