
@font-face {
    font-family:"NYTCheltenham LightSC";
    src:url("cheltenham-scaps-normal-300.woff2") format("woff2"),url("cheltenham-scaps-normal-300.woff") format("woff"),url("cheltenham-scaps-normal-300.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        