
@font-face {
    font-family:"NYTCheltenham Book";
    src:url("cheltenham-normal-400.woff2") format("woff2"),url("cheltenham-normal-400.woff") format("woff"),url("cheltenham-normal-400.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        