
@font-face {
    font-family:"NYTFranklin ExtraBold";
    src:url("franklin-normal-800.woff2") format("woff2"),url("franklin-normal-800.woff") format("woff"),url("franklin-normal-800.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        