@font-face {
  font-family: "NYTCheltenham BoldItalic";
  src: url("../fonts/cheltenham/cheltenham-italic-700-export/cheltenham-italic-700.woff2")
      format("woff2"),
    url("../fonts/cheltenham/cheltenham-italic-700-export/cheltenham-italic-700.woff")
      format("woff"),
    url("../fonts/cheltenham/cheltenham-italic-700-export/cheltenham-italic-700.ttf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "cheltenham-small-normal";
  src: url("../fonts/cheltenham/cheltenham-small-normal-400-export/cheltenham-small-normal-400.woff2")
      format("woff2"),
    url("../fonts/cheltenham/cheltenham-small-normal-400-export/cheltenham-small-normal-400.woff")
      format("woff"),
    url("../fonts/cheltenham/cheltenham-small-normal-400-export/cheltenham-small-normal-400.ttf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NYTFranklin Bold";
  src: url("../fonts/franklin/franklin-normal-700-export/franklin-normal-700.woff2")
      format("woff2"),
    url("../fonts/franklin/franklin-normal-700-export/franklin-normal-700.woff")
      format("woff"),
    url("../fonts/franklin/franklin-normal-700-export/franklin-normal-700.ttf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NYTFranklin Semibold";
  src: url("../fonts/franklin/franklin-normal-600-export/franklin-normal-600.woff2")
      format("woff2"),
    url("../fonts/franklin/franklin-normal-600-export/franklin-normal-600.woff")
      format("woff"),
    url("../fonts/franklin/franklin-normal-600-export/franklin-normal-600.ttf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NYTFranklin Medium";
  src: url("../fonts/franklin/franklin-normal-500-export/franklin-normal-500.woff2")
      format("woff2"),
    url("../fonts/franklin/franklin-normal-500-export/franklin-normal-500.woff")
      format("woff"),
    url("../fonts/franklin/franklin-normal-500-export/franklin-normal-500.ttf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NYTImperial Semibold";
  src: url("../fonts/imperial/imperial-normal-600-export/imperial-normal-600.woff2")
      format("woff2"),
    url("../fonts/imperial/imperial-normal-600-export/imperial-normal-600.woff")
      format("woff"),
    url("../fonts/imperial/imperial-normal-600-export/imperial-normal-600.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-nav {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  display: block;
  margin: 0;
  padding: 0;
  font: inherit;
  visibility: visible;
  color: #333;
}

.center-area {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 6px 15px 5px;
  position: relative;
  display: block;
  border: 0;
  font: inherit;
  visibility: visible;
  color: #333;
}

.menu {
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
}

.search {
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
  margin-left: 30px;
}

.space-cosmos {
  font-size: 14.25px;
  font-family: "NYTFranklin Bold", helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.nyt-logo {
  width: 195px;
  height: 5px;
  text-align: center;
  margin: 0 0 0 400px;
  display: inline-block;
  color: black;
}

.subscribe {
  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "NYTFranklin Semibold", helvetica, arial, sans-serif;
  margin: 2px 19px 0 350px;
  height: 12px;
  letter-spacing: 0.0125rem;
}

.login {
  background-color: rgb(51, 51, 51);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  cursor: pointer;
  font-family: "NYTFranklin Semibold", helvetica, arial, sans-serif;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 15px;
  width: 64px;
  height: 32px;
  font-size: 0.8125rem;
  letter-spacing: 0.0125rem;
  font-weight: 600;
  padding-bottom: 4px;
  display: inline-block;
  border: 1px solid rgb(18, 18, 18);
  margin-bottom: 5px;
}

.heading {
  position: relative;
  width: 600px;
  max-width: 700px;
  margin: 100px auto 1rem auto;
  font-size: 1.25rem;
  line-height: 3rem;
  color: #121212;
  font-family: "NYTCheltenham BoldItalic", georgia, "times new roman", times,
    serif;
  font-weight: 700;
  font-style: italic;
}
.article_normal_link {
  text-decoration: underline;
  color: #326891;
}

.sidebar_1_title {
  font-family: "NYTFranklin Bold", helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.picked_article {
  margin-bottom: -30px;
  width: 220px;
}

#picked_article_3 {
  position: relative;
  top: -15px;
}

#pick_title_2 {
  bottom: 60px;
}

#pick_title_3 {
  top: -70px;
}

.pick_thumbnail {
  display: block;
  width: 75px;
  margin-left: 0px;
}
#nav-right {
  float: right;
  position: relative;
  top: -33px;
}

#nav-left {
  float: left;
  position: relative;
  top: 5px;
}

#nav-center {
  margin: 0 auto;
  position: relative;
  top: 2px;
}

.nyt-logo img {
  width: inherit;
}

.article_header,
.article_body {
  margin-bottom: 20px;
  color: #121212;
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  font-size: 100%;
}

.hero_image {
  width: 100%;
}
.hero_img_author {
  color: #888;
  font-size: 0.8125rem;
  font-family: inherit;
  line-height: 1.125rem;
  -webkit-letter-spacing: 0.01em;
  -moz-letter-spacing: 0.01em;
  -ms-letter-spacing: 0.01em;
  letter-spacing: 0.01em;
}
figure {
  width: 60%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.hero_image_caption {
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  margin: 10px 20px 0;
  text-align: left;
  display: block;
  margin-left: 0;
  max-width: 900px;
  vertical-align: baseline;
}

header {
  margin-bottom: 40px;
}
.article_actions {
  display: inline-block;
  float: right;
}

.article_author {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
  font-family: "NYTFranklin Bold", helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
}

.article_author_name {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration-color: #ccc;
  text-decoration-color: #ccc;
}

.article_author_block {
  margin-bottom: 25px;
}

.published_date {
  font-family: "NYTFranklin Medium", helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}

.sharing {
  border-radius: 50%;
  background-color: #eee;
  border: 1px #eee solid;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.share_on_facebook img {
  height: 16px;
}
.twitter_logo {
  height: 16px;
}
.mail_logo {
  height: 16px;
}

.share_logo {
  height: 16px;
}
.sharing_link {
  text-decoration: none;
  margin-right: 10px;
}
.social_actions {
  display: inline-block;
  vertical-align: top;
}
.other_actions {
  display: inline-block;
}
.bookmark_logo {
  height: 30px;
}
.bubble_logo {
  height: 35px;
}
.clear_float {
  clear: both;
}

.bubble_link {
  position: relative;
  bottom: 5px;
}
.bookmark_link {
  vertical-align: top;
}
.comment_number {
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-family: "NYTFranklin Semibold";
  vertical-align: baseline;
  text-transform: uppercase;
  position: relative;
  right: 38px;
  top: 9px;
  float: right;
  z-index: 9999;
}

.main-article {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "NYTimperial normal", georgia, "times new roman", times, serif;
  color: #333;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

p {
  margin-bottom: 0.9375rem;
}
.nav_container {
  position: fixed;
  width: 100%;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  border-bottom: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.editors_pick {
  float: right;
  max-width: 210px;
  position: relative;
  top: 800px;
  right: 60px;
}
main {
  width: 70%;
  margin: 0 auto;
}

.pick_title,
.pick_title:hover {
  position: relative;
  left: 80px;
  bottom: 60px;
  vertical-align: top;
  font-family: "cheltenham-small-normal", georgia, "times new roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: calc(100% - 85px);
  margin: auto 0px auto 10px;
  color: rgb(51, 51, 51);
  padding-bottom: 16px;
  cursor: pointer;
  display: block;
}
.pick_title:hover {
  text-decoration: underline;
}

.account-container {
  font-size: 0.9375rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  padding: 0.75rem;
  line-height: 1.25rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  max-width: 500px;
  color: #333;
  margin-top: 50px;
  position: relative;
  left: 365px;
}

.illustrations-container {
  width: 945px;
  height: 723px;
  margin: 30px 0;
  position: relative;
  right: 100px;
}

.illustrations-heading {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 2px;
}

.summary-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
}

.infiltration {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
}

.universe-cube {
  top: 35.8264%;
  left: 0.0436%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.paragraph {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  width: 228px;
}

.paragraph-span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
}

.enough-cube {
  top: 35.8264%;
  left: 25.5619%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.distant-cube {
  top: 35.8264%;
  left: 51.08%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.coffee-cube {
  top: 35.8264%;
  left: 76.5982%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.time-cube {
  top: 73.4375%;
  left: 0.0436%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.inflation-cube {
  top: 73.4375%;
  left: 25.5619%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.fluctuation-cube {
  top: 73.4375%;
  left: 51.0800%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

.expansion-cube {
  top: 73.4375%;
  left: 76.5982%;
  width: 228px;
  height: 120px;
  position: absolute;
  color: #333;
}

