
@font-face {
    font-family:"NYTFranklin Medium";
    src:url("franklin-normal-500.woff2") format("woff2"),url("franklin-normal-500.woff") format("woff"),url("franklin-normal-500.otf") format("opentype");
    font-style:normal;font-weight:400;
}
    
    