
@font-face {
    font-family:"NYTCheltenhamWide Italic";
    src:url("cheltenham-wide-italic-400.woff2") format("woff2"),url("cheltenham-wide-italic-400.woff") format("woff"),url("cheltenham-wide-italic-400.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        