
@font-face {
    font-family:"NYTFranklin Light";
    src:url("franklin-normal-300.woff2") format("woff2"),url("franklin-normal-300.woff") format("woff"),url("franklin-normal-300.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        