
@font-face {
    font-family:"NYTFranklin Headline";
    src:url("franklin-normal-900.woff2") format("woff2"),url("franklin-normal-900.woff") format("woff"),url("franklin-normal-900.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        