
@font-face {
    font-family:"NYTCheltenhamCond Bold";
    src:url("cheltenham-cond-normal-700.woff2") format("woff2"),url("cheltenham-cond-normal-700.woff") format("woff"),url("cheltenham-cond-normal-700.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        