
@font-face {
    font-family:"NYTImperial BoldItalic";
    src:url("imperial-italic-700.woff2") format("woff2"),url("imperial-italic-700.woff") format("woff"),url("imperial-italic-700.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        